.accordion {
                border: 1px solid #ccc;
                width:  100%;
                 margin: 0;
                    padding: 0;
            }
                .accordion li span a {
                    background:             #666;
                    background:             #666 -webkit-gradient(linear, left top, left bottom, from(#999), to(#666)) no-repeat;
                    background:             #666 -moz-linear-gradient(top,  #999,  #666) no-repeat;
                    border-bottom:          1px solid #333;
                    border-top:             1px solid #ccc;
                    color:                  #fff;
                    display:                block;
                    font-style:             normal;
                    margin:                 0;
/*                    padding:                5px 10px;*/
                    text-shadow:            0 -1px 2px #333, #ccc 0 1px 2px;
                }
                    .accordion li.active span a {
                        background:             #369;
                        background:             #369 -webkit-gradient(linear, left top, left bottom, from(#69c), to(#369)) no-repeat;
                        background:             #369 -moz-linear-gradient(top,  #69c,  #369) no-repeat;
                        border-bottom:          1px solid #036;
                        border-top:             1px solid #9cf;
                        text-shadow:            0 -1px 2px #036, #9cf 0 1px 2px;
                    }
                    .accordion li.locked span a {
                        background:             #963;
                        background:             #963 -webkit-gradient(linear, left top, left bottom, from(#c96), to(#963)) no-repeat;
                        background:             #963 -moz-linear-gradient(top,  #c96,  #963) no-repeat;
                        border-bottom:          1px solid #630;
                        border-top:             1px solid #fc9;
                        text-shadow:            0 -1px 2px #630, #fc9 0 1px 2px;
                    }
                .accordion li span {
                    margin:         0;
                    padding:        0;
                }
                .accordion li {
                   list-style-type: none;
                }
                .accordion .panel {
                    padding:        10px;
                }
                
                
                .pi_zagolovok{
                    float: left;
                    width: 18%;
                }
                
                    .pi_info > p{
        padding-top: 4px;
    }
    .pi_info > p > span{
        font-weight: bold;
        font-style:italic;
    }
    
    .pi_button{
        background-color: #dbdef5;
    color: black;
    padding: 4px 18px;
    }
    
    .pih2{
        font-size: 16px;
        text-transform: uppercase;
        background-color: #d7d7ff;
        border: 1px solid black;
    }
    
    .button_close{
        background-image: url('/images/open_b.JPG');

        height: 29px;
    }
    .button_open{
        background-image: url('/images/close_b.JPG');
z-index: 9999;
        height: 29px;
    }
    
    .pi_buttons{
        background-color: #dbdef5;
    color: black !important;
    font-weight: bold;
    padding: 7px 14px;
    text-shadow: 0 0 0 #333, 0 0 0 #ccc;
    width: 50px !important;
    }
    
        .panel{
        display: none;
    }
    .panel_active{
        display: block !important;
    }
    .pi_stroka{
        
        cursor: pointer;
        background: -moz-linear-gradient(center top , #999, #666) no-repeat scroll 0 0 #666;
    }
    .pi_stroka > div{
        color: white;
    }