
/* Важное свойство */
.chat {
	height: 80px;
	overflow: auto; /* Это позволяет отображать полусу прокрутки */
	position: relative; /* Это позволяет съезжать тексту в слое, не растягия страницу */
	text-align: left;
	border: solid #818181 1px;
    width: 100%;
}

.chat div {
	position: absolute; /* Страница остаётся тогоже размера */
}

.cmes {
    font-weight: bold;
    font-size: 14px;
}

.own {
    color: gray;
    font-style: italic;
}
.own a {
    color: gray;
    font-style: italic;
}


.chat span {
	display: block;
}

input[type=text],textarea {
	width: 100%;
	font: normal normal normal 12px "Trebuchet MS", Arial, Times;
	border: solid #818181 1px;
}

/* Для CSS 3 */
.r4 {
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}