@charset "utf-8";
@font-face {
    font-family: HelveticaNeue;
    scr: url(/media/fonts/HelveticaNeue.eot);
    scr: local(HelveticaNeue), url(/media/fonts/HelveticaNeue.ttf);
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
}
html {
    height:100%;
}
body {
    color: #333;
    background: url('/media/img/b_pattern.png') 0 0 repeat;
    margin: 0px auto;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.428571429;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    width: 100%;
}
header {
    background: url('/media/img/bg_city.png') 0 0 repeat-x;
    width: 100%;
}
.content_box {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    max-width: 1260px;
    position: relative;
    z-index: 1;
}

.t-wrapper {
    margin: 0 auto;
    padding: 0px;
}
table, .table {
    margin: 0 0 20px 0;
    width: 100%;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
    display: table;
    border: 1px solid #ccc;
}
th, .thhead {
    display:table-cell;
    font-weight: 600;
    padding: 7px;
    color: rgb(85, 102, 151);
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #e0e0e0;
    background: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
th:first-child, .thhead:first-child {
    text-align: left;
    padding-left:14px;
}

tr:first-child th:first-child,.row:first-child .thhead:first-child {
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
tr:first-child th:last-child,.row:first-child .thhead:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
tr,.row {
    padding-left:20px;
    display:table-row;
}
tr td:first-child,.row .cell:first-child {
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
tr td,.row .cell {
    display:table-cell;
    padding:7px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
    font-weight: 500;
    color: #555;
}
tr:nth-child(even) td,.row:nth-child(even) .cell {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
tr:last-child td,.row:last-child .cell {
    border-bottom:0;
}
tr:last-child td:first-child,.row:last-child .cell:first-child {
    moz-border-radius-bottom-left:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
tr:last-child td:last-child,.row:last-child .cell:last-child {
    moz-border-radius-bottom-right:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
tr:hover td,.row:hover .cell {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}
.cell .c100 {
    width: 100%;
}
.cell .c75 {
    width: 75%;
    display: block;
}
.cell .c50 {
    width: 50%;
}
.cell .c25 {
    width: 25%;
}
.cell .pl3 {padding: 0 0 0 3em;}


.header {
    display: block;
    height: 135px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    max-width: 1260px;
    width: 100%;
}
.header .logo {
    position: absolute;
    top: 30px;
    left: 10px;
    z-index: 1;
}
.head-buttons {
    width: 100%;
    height: auto;
    border-bottom: 1px solid white;
    background: url('/media/img/header.png') 220px 60px no-repeat;
}
.head-buttons .b_search {
    width:100%;
}
.head-buttons .skype {
    float:right;
    margin-top:6px;
    width:18%;
}
.head-buttons .skype div {
    margin: 5px 0 7px 0;
}
.head-buttons .skype div a {
    text-decoration: none;
    border: none;
    color: rgb(170, 75, 72);
    font-weight: 600;
}
.head-buttons .calc {
    width: 230px;
}
.head-buttons .calc a {
    font-size: 11px;
    font-weight: 700;
    color: #526cca;
    text-decoration: none;
}
.head-buttons .calc img {
    width: 36px;
    float: left;
}
.head-buttons .mainhead h1 {
    color: #aa4b48;
}
.head-buttons .head {
    float: left;
    margin: 10px 83px 0 220px;
    width:17%;
}
.head-buttons .head a {
    margin: 0px 20px 0 0;
    padding: 0px;
    color: #526cca;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
}
.head-buttons .skype .link.math{
    margin: 0px 20px 0 0;
    padding: 0px;
    color: #526cca;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
}  
.gallery {
    position: relative;
    padding: 7px 0;
    margin: 0;
    background-color: rgb(244, 244, 244);
    z-index: 0;
}
.gallery div {
    padding: 0 0 5px 0;
}
.gallery img {
    max-width: 99.68%;
    width: 99.9%;
    height: 250px;
    object-fit: cover;
}
.gallery .tg {
    position: absolute;
    top: 20px;
    left: 260px;
    font-size: 12pt;
    width: 50%;
    display: inline-block;
}
.gallery .tg div {
    color: white;
    font-style: italic;
}
.gallery .b_text {
    font-size: 18pt;
    font-style: italic;
    padding: 25px 0 0 0;
}
.gallery .b_nmain {
    position: absolute;
    bottom: 40px;
    left: 20px;
    z-index: 2;
    background: transparent;
    border: 1px solid #fff;
    padding: 0 10px 4px 10px;
}
.gallery .b_nmain:hover {
    background-color: #cd1e2d;
}
.gallery .b_nmain a:link,
.gallery .b_nmain a:hover,
.gallery .b_nmain a:visited {
    color: #fff;
    cursor: pointer;
    font-size: 20pt;
    text-decoration: none;
    font-weight: 200;
}

ul.video {
    width: auto;
    height: 150px;
    text-align: center;
}
ul.video li {
    float: left;
    margin: 0 1.2em;
}
ul.video li h2 {
    padding: 2px 4px;
    color: white;
}
ul.video li a img {
    background-color: #fff;
    border: 1px solid #f4f4f4;
    border-radius: 2px;
    display: inline-block;
    padding: 7px;
}
.nmain_box_l {
    background: url('/media/img/nmain_box.png') 0 0 no-repeat;
    position: absolute;
    top: 250px;
    left: 138px;
    width: 389px;
    height: 100%;
    z-index: 0;
}
.nmain_box_2 {
    background: url('/media/img/nmain_box.png') 0 0 no-repeat;
    position: absolute;
    top: 250px;
    right: 120px;
    width: 389px;
    height: 100%;
    z-index: 0;
}

.left_col {
    float: left;
    width: 100%;
    max-width: 220px;
    margin: 0 0 0 10px;
    padding: 0;
}
.right_col {
    float: right;
    width: 100%;
    max-width: 250px;
    margin: 0 10px 0 0;
}
#righttable {width: 100%;}
.main_col {
    margin: 0 270px 1em 240px;
    padding: 0 20px;
}

footer {
    position: relative;
    height: 200px;
    background: #555 url('/media/img/always_grey.png') 0 0 repeat;
}
.botcol {
    width: 760px;
    margin: 0 auto;
}
.botcol ul {
    float: left;
    list-style: none;
    padding: 10px;
    margin: 0.5em;
    color: white;
}
.botcol ul li {
    padding: 3px;
    margin: 0 3em;
}
.botcol ul li a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-style: normal;
}
.copyright {
    margin: 2em 0 0 0;
    text-align: center;
    color: #999;
}

.clear {
    clear: both;
}
.clearleft {
    clear: left;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
    *zoom: 1;
}

a,img {
    border: none;
}
img {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

h1,h2,h3,h4 {
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 3px 0 7px 0;

}
h1 {
    font-size: 18pt;
}
h2 {
    font: 21px Georgia;
}
h3 {
    font-size: 13pt;
    font-weight: 500;
    margin: 10px 0 5px 0;
    color: #ea6153;
    text-shadow: #fff 2px 2px 2px;
}
h3#small {
    font-size: 12pt;
    font-weight: 500;
    margin: 10px 0 5px 0;
    color: #ea6153;
    text-shadow: #fff 2px 2px 2px; 
}
h4 {
    font-size: 13pt;
    margin: 10px 0;
    padding: 0;
    color: rgb(48, 86, 179);
}
h4:hover.blue {
    background-color: #f1f1f1;
}
div,p,textarea,label,input,tr,td,.row,.col {
    font-size: 11pt;
    font-style: normal;
    margin: 0;
    color: #555;
}
td {
    vertical-align: top;
}
textarea,label,input {
    font-size: 11pt;
    font-style: normal;
    margin: 0;
    color: #555;
}
p {
    margin: 0 0 0.5em 0;
}
b,strong {
    font-weight: 600;
    color: #777;
}
label {
    font-weight: 500;
    color: #555;
    margin: 0 0.5em 0 0;
}
ul>li {
    list-style: none;
    padding: 0;
    margin: 0;
}
ol {
    display: block;
    list-style: decimal outside;
    margin: 1em 0;
    padding: 0 0 0 40px;
}
hr {
    color: #f2f2f2;
    margin: 3px 0;
}

span.blue {
    border-bottom: 1px dotted #ccc;
    font-weight: 500;
}

.hide {
    display: none;
}

input,select,textarea {
    border: 1px solid #d9d8d8;
    border-radius: 3px;
    background-color: #fff;
    font-size: 15px;
    line-height: 18px;
    margin: 6px 0;
    padding: 3px;
    width: auto;
    cursor: pointer;
}
input[type=text],textarea {
    border: 1px solid #d9d8d8;
    padding: 3px;
    width:100%;
}
input.onlylatin {list-style-type: upper-latin;}
input.button {
    line-height: 14px;
}
input.checkbox {
    margin: 0 0.5em 0 0;
}


blockquote {
    margin: 1.5em 0 1em 0;
    font-style: italic;
    font-family: Georgia;    
}
blockquote p {
    font-style: italic;
    margin: 0;
    padding: 0 0.5em;
    color: #333;
    font-size: 12pt;
}
blockquote:before {
    color: #ccc;
    font-family: Georgia;
    content: "\201C";
    font-size: 2em;
    line-height: 0.1em;
    margin-right: 0;
    vertical-align: 0em;
}
blockquote:after {
    color: #ccc;
    font-family: Georgia;
    content: "\201D";
    font-size: 2em;
    line-height: 0.1em;
    margin-right: 0;
    vertical-align: -0.7em;
}
blockquote :first-child {
    display: inline;
}
blockquote :last-child {
    margin-bottom: 0;
}
.container {
    width: 100%;
    margin: 10px auto;
}
.container ul li a:link,
.container ul li a:hover,
.container ul li a:visited,
.container ul li h4 {
    color: rgb(90, 121, 202);
    font: 12px/1.3 Verdana, Helvetica, Sans-serif;
}

.container ul li {
    float: left;
    list-style: none;
    width: 26.3%;
    height: 280px;
    margin: 2% 2% 30px 2%;
    padding: 10px;
    border: 1px solid #f4f4f4;
}
.container ul li a img {
    max-width: 100%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.noborder {
    border: none;
    padding: 0px;
    margin: 0px;
}

.head-menu {
    background-color: rgb(244, 244, 244);
    margin: 0 auto;
    z-index: 10;
    width: 100%;
}
.topmenu {
    width: 100%;
    max-width: 1260px;
    height: 32px;
    margin: 0.1em auto;
}
ul.nav {
    margin: 0 0 0 6px;
    padding: 0;
    width: auto;
}
ul.nav li {
    text-align: center;
    display: inline-block;
    position: relative;
    height: 30px;
    margin: 0;
    padding: 0;
    line-height: 30px;
    text-decoration: none;
    color: #5e7db7;
    border: 1px solid #d9d8d8;
    border-radius: 3px;
    background: linear-gradient(to bottom, #fff 0%, #d9d9d9 100%);
    box-shadow: inset 0 0 1px #f4f4f4;
}
ul.nav li:hover {
    background: linear-gradient(to top, #f4f4f4 0%, #d9d9d9 100%);
}
ul.nav li:before {
    content: "";
}
ul.nav li:after {
    position: absolute;
    display: block;
    content: '';
    bottom: 0;
    left: 1px;
    right: 1px;
    height: 1px;
    background: #d9d8d8;
}

ul.nav li a {
    margin: 0;
    padding: 0 1.2em;
    color: #3056ad;
    text-decoration: none;
    display: block;
    text-shadow: #fff 1px 1px 1px;
    font-size: 16px;
    font-weight: 500;
}
ul.nav li:hover>a {
    color: #ea6153;
}

ul.nav li .sub {
    min-width: 400px;
    position: absolute;
    top: 30px;
    left: -1px;
    float: left;
    display: none;
    opacity: 0;
    z-index: 10;
}
ul.nav li .sub ul {
    list-style: none;
    float: left;
}
ul.nav li .sub ul li {
    color: #425d8e;
    display: block;
    width: 100%;
    float: none;
    text-align: left;
}
ul.nav li .sub ul li:hover {
    background: linear-gradient(to top, #6179a3 0%, #6179a3 100%);
    color: #fff;
}
ul.nav li .sub ul li:hover a:hover {
    color: #fff;
    text-shadow: #425d8e 1px 1px 1px;
}
ul.nav li .sub ul li:hover>a {
    color: #fff;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.fnone {
    float: none;
}
.account {
    position: relative;
}
.reg {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
}
.reg a:link {
    text-decoration: none;
}
.block {
    width: auto;
    height: auto;
    margin: 0px auto;
    padding: 10px 10px;
    background-color: #fefefe;
    font-style: normal;
}
.p4 {
    padding: 0 0 1em 0;
}
.p1 {padding: 4px 0 0 0;}
.effect1 {
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-box-shadow: 0 10px 7px -5px #e7e7e7;
    -moz-box-shadow: 0 10px 7px -5px #e7e7e7;
    box-shadow: 0 10px 7px -5px #e7e7e7;
    background-color: rgb(250, 250, 250);
    font-style: normal;
}
.effect6 {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    background-color: #fefefe;
}
.bg1 {
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}


.bg h2 {
    background-color: #f2f2f2;
    border: 1px dotted #ccc;
    margin: 0;
    padding: 0.2em 0;
    display: block;
}
.bg:hover h2 {
    background-color: #555;
    border: 1px dotted #ccc;
    color: #fff;
    margin: 0;
    padding: 0.2em 0;
    display: block;
}
.mr {margin: 0 2em 0 0;}
.mt {margin: 2em 0 0 0;}
.mt16 a.mt16 {
    padding: 0;
    font-size: 12pt;
    text-decoration: none;
    display: block;
    font-weight: bolder;
}
.as {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.dot {
    padding: 0 0 0.2em 0;
    border-bottom: 1px dotted #ccc;
}
.line {
    padding: 0 0 0.2em 0;
    border-bottom: 1px dotted #777;
    font-weight: 500;
}
.b_pic {
    background: #f2f2f2;
    padding: 4px;
}
.text {
    margin: 0;
    padding: 15px 20px;
}
.text div {
    padding: 0 0 0.5em 0;
}
.text1 {
    color: #4e556f;
    padding: 0 10px;
}
.text2 {
    color: #4e556f;
    padding: 10px;
}
.review {
    color: #555;
    width: 200px;
    float: left;
    margin: 0 1.4em 1em 0;
}
.all {
    height: 350px;
}
p.small {
    font-size: 10pt;
}
.italic {
    font-style: italic;
}
a#small {
    font-size: 10pt;
    margin: 0.7em 0 0.1em 0;
    display: block;
}
.review img {
    background-color: #fff;
    border: 1px solid #f4f4f4;
    border-radius: 2px;
    display: inline-block;
    padding: 7px;
}
.review .name, .review .track {
    font-style: italic;
    font-family: Georgia;
    text-align: right;
    margin: 0 3px 0 0;
}

.nomp {
    padding: 0px;
    margin: 0px;
}
.nodisp {
    display: none;
}

.frm-search {
    float: none;
}
.tbx-search {
    min-width: 350px;
    border: 1px solid #d9d8d8;
    border-radius: 5px;
    margin: 0 5px 0 0;
    padding: 4px;
    color: #999;
    font-style: italic;
    margin-top:10px;
}
.btn-search {
    width: 80px;
    line-height: 24px;
}

.search {
    display: inline-block;
    height: 27px;
    padding: 0 10px;
    line-height: 27px;
    text-decoration: none;
    color: #fff;
    position: absolute;
    right: 10px;
}
.search:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    width: 7px;
    height: 27px;
    background: url('/media/img/btn-h-l.png') 0 0 no-repeat;
}
.search:after {
    content: "";
    clear: both;
    display: block;
    top: 0;
    right: 0;
    position: absolute;
    width: 6px;
    height: 27px;
    background: url('/media/img/btn-h-r.png') 0 0 no-repeat;
}

.button {
    width: auto;
    display: inline-block;
    position: relative;
    height: 26px;
    padding: 0 7px 3px 7px;
    margin: 0;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #556697;
    border-radius: 3px;
    background: linear-gradient(to bottom, rgb(120, 147, 195) 0%, #556697 100%);
    box-shadow: inset 0 0 1px #5877b4;
    font-size: 15px;
}
.button:hover {
    background: linear-gradient(to top, #5877b4 0%, #556697 100%);
}
.button:before {
    content: "";
}
.button:after {
    position: absolute;
    display: block;
    content: '';
    bottom: 0;
    left: 1px;
    right: 1px;
    height: 1px;
    background: #556697;
}
.online_users {
    display: inline;
}

.button a.button_link {
    color: white;
    text-decoration: none;
    display: block;
}

a:link {
    color: #526cca;
    text-decoration: underline;
    font-size: 15px;
}
a:hover {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #526cca;
}

a.nd {text-decoration: none;}
a.nd:hover {text-decoration: underline;}
a.gray {
    color: #969696;
}
a.red {
    color: rgb(191, 24, 19);
}
a:hover.red {
    color: rgb(191, 24, 19);
    text-decoration: none;
}

.data, a.data {
    color: #999;
    font-size: 12px;
    float: right;
}
.text1 a:hover {text-decoration: none;}
.text1 h3 {padding: 0;margin: 0;}

#twitter_update_list li a {
    color: #969696;
    font-size: 85%;
}
#twitter_update_list li {
    margin-bottom: 10px;
}

span.onlineusers {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}
span.onlineusers:hover {
    text-decoration: underline;
}

a.Online {
    color: green;
}
a.Offline {
    color: red;
}
span.Online {
    color: green;
}
span.Offline {
    color: red;
}

.i-box {
    min-height: 700px;
    width: 100%;
    margin: 0 auto;
}
.i-box div.box {
    float: left;
    display: inline-block;
    width: 210px;
    height: 340px;
    margin: 1em 0.7em 0.6em 1em;
}
.i-box div.box img {
    text-align: center;
    margin: 0.3em auto;
}
.i-box div.box h2 {
    font-size: 13pt;
    margin: 0;
    padding: 0;
}

.catalog {
    height: auto;
    margin: 0;
    padding: 0 0 1em 0;
    display: block;
}
.catalog .text1 {
    margin: 0 0 1em 0;
    float: none;
    padding: 0 0 1em 0;
    border-bottom: 1px dotted #ccc;
    min-height: 120px;
}
.catalog h4 {
    background-color: rgb(245, 245, 245);
    padding: 0.5em;
}
.catalog .text1 img {
    margin: 0;
    padding: 1em;
    float: left;
    width: 100px;
    height: 100px;
}

.razdel {
    margin: 1em 0 0 0;
}
.razdel h3 {
    padding: 0 0 0.5em 0.5em;
    color: rgb(191, 24, 19);
}
.razdel img {
    float: left;
    padding: 0 1em 0 0;
    width: 100px;
}
.razdel a:hover {text-decoration: none;}

a.razdelall {
    background-color: #f2f2f2;
    display: block;
    padding: 1pimenupx 0 0 0;
}
.red {
    color: rgb(191, 24, 19);
}
.blue {
    color: #5877b4;
}
.lightgray {
    color: #999;
}

ul.pagination {
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 1em auto ;
}
ul.pagination li {display: inline;}
ul.pagination li a,ul.pagination li strong {
    color: gray;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}
ul.pagination li:first-child a,ul.pagination li:first-child strong {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
ul.pagination li:last-child a,ul.pagination li:last-child strong {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
ul.pagination li .active {
    background-color: #5877b4;
    color: white;
    border: 1px solid #5877b4;
}
ul.pagination li a:hover:not(.active) {background-color: #ddd;}

#pimessegesnone,#pizakaznone,#pipaymentnone,#piposulkanone,#pifajlotchetanone,#pinewfajlnone,#pinewsnone,#picompanynone,#piakciinone,#pilastnewsnone {
    display: none;
}
#pilast {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#pilast div {
    float: left;
}

fieldset {
    border: 1px solid #999;
    padding: 10px;
}

.hb img {
    margin: 0 0.7em 0 0;
    vertical-align: bottom;
}
div.hb {
    margin: 0.2em 0.5em 0 -0.5em;
    display: block;
    padding: 0 0.5em 0.4em 0.5em;
}
div.hb a {
    text-decoration: none;
    color: #d50000;
    margin: 0 0 0 0;
    display: inline-block;
}
div.hb a:hover {
    color: #5877b4;
}

#pimenu ul li {
    padding: 5px 0 10px 10px;
}

.slider-box {
    position:relative;
    width: 100%;
    max-width:640px;
    height:250px;
    overflow:hidden;
    margin: 0 auto;
    padding: 0;
}
.slider {
    position:relative;
    width: 10000px;
    height: 160px;
}
.slider img {
    float:left;
}
.slider-box .prev, .slider-box .next{
    position:absolute;
    top:100px;
    display:block;
    width:29px;
    height:29px;
    cursor:pointer;
}
.slider-box .prev{
    left:10px;
    background:url(/upload/slider_controls.png) no-repeat 0 0;
}
.slider-box .next{
    right:10px;
    background:url(/upload/slider_controls.png) no-repeat -29px 0;
}
.bullets {
    height:11px;
    list-style:none;
    padding: 12em 0 0 1em;
}
.bullets li{
    width: 11px;
    height: 11px;
    margin: 0 7px 0 0;
    padding: 0;
    float: left;
    background: url(/upload/slider_controls.png) no-repeat 0 -30px;
}
.bullets li.active{
    background-position:0 -42px;
}
.bullets:hover{
    cursor: pointer;
}
.slider2 {
    width: 100%;
    max-width:640px;
    height:200px;
    position:relative;
    overflow:hidden;
    margin: 0 auto;
    background: rgb(244, 244, 244) url('/media/img/bg_city.png') 0 0 repeat-x;
}
.slider2 .content_text {
    width: auto;
    height: auto;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em 1em 1em 1em;
    font-family: Georgia;
}
.slider2 .content_text p {
    font-size: 17px;
}
.slider2 .content_text:first-child {
    display: block;
}
.slider2 .content_text h2 {
    color: #cd1e2d;
    font-size: 1.7em;
}

.mceLayout {width: 100% !important;}

table#newordertable {
    width: 99%;
    
}
table#newordertable tr td h3 {
    text-align: left;
    display: block;
}
.logo img{
    width:100%;
    height:auto;
}
.mobile_menu{
    display:none;
}
.head-menu.mobile{
    display:none;
}
.fl.text2.effect1{
    width:100%;
    margin-bottom:20px;
}
.fl{
    float:none;
}
.files_link{
    position:relative;
    display:inline-block;
    width:18%;
    background:url('/media/img/ark2_5627.png');
    background-repeat:no-repeat;
    text-align:center;
}
@media screen and (min-width: 966px) and (max-width: 1260px) {
    .head-menu{
        margin-bottom:50px;
    }
    .tbx-search{
        min-width:auto;
    }
    .head-buttons .head{
        width:21%;
        margin: 15px 83px 0 84px;
    }
    .head-buttons .calc{
        top: -77px;
        position: relative;
        left: -214px;
    }
    .head-buttons .skype{
        width:11%;
    }
    ul.nav li{
        margin-bottom:2px;
    }
    .bullets{
        padding: 0em 0 0 17em;
    }
    .block.effect6 p,
    .block.effect6 li
    {
        overflow:hidden;
        text-overflow:ellipsis;
    }
    .razdel img{
        width:100%;
        height:auto;
    }
    .catalog .text1 img{
        width:89%;
        height:auto;
    }
}
@media screen and (min-width: 240px) and (max-width: 965px) {
    .head-menu{
        display:none;
    }
    .tbx-search{
        min-width:50%;
    }
    header{
        background-color:white;
    }
    .header{
        height:auto;
    }
    .head-buttons{
        background: url(/media/img/header.png) 0 93px no-repeat;
        background-size: contain;
    }
    .head-buttons .head{
        display:block;
        position: absolute;
        right:0;
        margin:10px 0 0 0;
        float:none;
        width:auto;
    }
    .head-buttons .calc{
        display:block;
    }
    .header .logo{
        display:none;
    }
    .head-buttons .skype{
        width:100%;
        float:none;
    }
    .head-buttons .b_search{
        width:100%;
        text-align:center;
        margin-bottom:20px;
        margin-top:86px;
    }
    .head-buttons .skype div{
        margin-bottom:0 !important;
        width:100%;
    }
    input.button{
        line-height:24px;
    }
    .head-buttons .skype .link.math{
        margin:auto;
    }
    .block.effect6 p,
    .block.effect6 li
    {
        overflow:hidden;
        text-overflow:ellipsis;
    }
    .razdel img{
        width:100%;
        height:auto;
    }
    .catalog .text1 img{
        height:auto;
    }
    .mobile_menu{
        display:block;
        width:100%;
        text-align:center;
        background-color:#526cca;
        padding:10px 0;
        color:white;
        font-size: 16px;
    }
    .mobile_menu:hover{
        cursor: pointer;
    }
    .block.effect1.center,
    .block.effect1.center h3
    {
        display:none;
    }
    .left_col{
        float:none;
        margin-top:100px;
        display:none;
    }
    .right_col{
        float:none;
        max-width:100%;
    }
    .system_none{
        display:none;
    }
    .main_col{
        margin:auto;
        padding:0;
    }
    .slider-box,
    .slider2{
        max-width:100%;
    }
    h3{
        text-align:center;
    }
    #righttable .block.effect1{
        text-align:center;
    }
    .mobile_menu + div{
    display:none !important;
    }
    .mobile_menu.active + div{
        display:block !important;
    } 
    .head-menu.mobile .topmenu,
    {
        max-width: 100%;
    }
    .head-menu.mobile .btn,
    .head-menu.mobile .nav{
        width:100%;
    }
    .botcol{
        width:100%;
        text-align: center;
    }
    footer{
        height:auto;
    }
    .botcol ul{
        float:none;
    }
    .topmenu{
        height:auto;
    }
    ul.nav li .sub ul li{
        border:1px solid #425d8e;
    }
    .effect6,
    .effect1{
        width:100% !important;
    }

}



.sdf6,.sdf7,.sdf8,.sdf9 {display: none;}

