#newordertable{
    width: 100%;
    font-weight: normal !important;
    font-style: normal !important;
    font-family: Tahoma;

}

#newordertable p{
    color: gray !important;
    font-weight: normal !important;
}
.form-size input{
    width: 80px !important;
}
#newordertable span{
    /*color: gray !important;*/
    /*font-weight: normal !important;*/
}

#newordertable input{
    border: 1px solid gray;
    border-radius: 5px;
    width: 94%;
    padding: 4px;
    margin: 4px;
}
#newordertable input[type=text]:focus{
    border: 1px solid #66afe9;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);

}
#newordertable textarea:focus{
    border: 1px solid #66afe9;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

#newordertable input[type=radio]{
    width: 20px;
}
#newordertable input[type=radio]:focus{
    width: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
#newordertable select{
    border-radius: 5px;
    padding: 5px;
    width: 80%;
}
#newordertable textarea{
    border: 1px solid gray;
    border-radius: 5px;
    width: 98%;
    padding: 4px;
    margin: 4px;
    height: 150px;
    resize:none;
}

#newordertable td{
    border-top: 0px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

#newordertable tr:nth-child(2n) {
    background-color: #f2faff !important;
}

#newordertable tr td:first-child{
    font-weight: bold !important;
    text-align: center;
}

#newordertable .column-text{

}

#newordertable .red span{
    /*color: red !important;*/
    margin-bottom: 10px;
}

#newordertable .red{
    margin: 5px;
}

#newordertable .aftertext{
    margin: 5px;
    margin-bottom: 0px;
}

#sb{
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    padding: 4px;
    cursor: pointer;
}

#sb:hover{
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    padding: 4px;
    cursor: pointer;
    background-color: #dde9ff;
}