#intro {
    margin: 0 auto;
}
.wrapper {
    width: 100%;
    height: 100px;
}
.list_carousel {
    width: 100%;
    height: 100px;
}
.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    height: 72px;
}
.list_carousel li {
    text-align: center;
    border: 0px;
    width: 75px;
    height: 74px;
    padding: 0;
    margin-left: 6px;
    margin-top: 4px;
    display: block;
    float: left;
}

.clearfix {
    float: none;
    clear: both;
}
.prev {
    float: left;
    margin-left: 10px;
}
.next {
    float: right;
    margin-right: 10px;
}
.pager {
    float: left;
    width: 300px;
    text-align: center;
}
.pager a {
    margin: 0 5px;
    text-decoration: none;
}
.pager a.selected {
    text-decoration: underline;
}
.timer {
    background-color: #999;
    height: 6px;
    width: 0px;
}

.caroufredsel_wrapper {width: 100% !important;} 