body {
  color: #444444;
  background: #fff;
  margin: 8px;
  font-family: Georgia;
  font-size: 9pt;
}

a, img { border: none; }

p {
    margin: 0px;
}
.hide{
    display:none;
}
table {
  color: #444444;
  font-family: Georgia;
  font-size: 9pt;
}

form {
  padding: 0px;
  margin: 0px;
}

div {
  padding: 0px;
  margin: 0px;
}

input, select, textarea {
  border: 1px solid #C0C0C0;
  background-color: #FFFFFF;
  font-family: Georgia;
  font-size: 9pt;
  margin: 0px;
}

blockquote {
  border: 1px solid silver;
  padding: 4px;
  color: #C0C0C0;
}



div.left {width:218px;  text-align:center; float:left; padding-top: 50px;}


div.content {
            background:#ECE3BA; margin-left:220px; padding: 10px; 
            border-left:solid 1px navy;
            }

.content div {width: 100%;}
.content td {padding: 3px; margin: 0px;}


div.right { margin-left:80%;  min-width: 228px; 
            border-right:solid 1px navy; border-top:solid 1px navy; border-bottom:solid 1px navy;
            padding: 0px 10px 0px 10px;
            
          }
div.header {
    background-image: url('/media/img/h-b.png');
 	background-repeat: repeat-x;
    width:100%; 
    height: 139px; 
    margin:0px; 
    padding: 0px; 
    min-width: 1024px; 
    position: relative;	
}

.h-l {
	background-image: url('/media/img/h-l.png');
	height: 135px;
	width: 72px;
	float: left;
}

.h-r {
	background-image: url('/media/img/h-r.png');
	height: 135px;
	width:950px;
	float: right;
}

.head-buttons { 
	position: absolute;
	top: 44px;
	left: 144px;
	height: 36px;
	width: 294px;
}
.head-buttons span a.nav1 { color: #fff; }
.head-buttons span a.nav1:hover { color: #ddd; }

.head-buttons .btn-forum { padding: 0px 34px; }

div.header .logo { /*margin-left: -66px; float: left;*/ position: absolute; top: 0; left: 6px; }

div.botcol { position: relative; clear:both; width:100%; margin:10px 0 0 0; height: 68px; text-align: center; }
.botcol .nav  { height: 30px; margin: 0 auto; display: inline-block; }

.botcol .nav .btn { height: 24px; line-height: 24px; }
.botcol .nav .btn:after { height: 24px; }
.botcol .nav .btn:before { height: 24px; }

.botcol .copyright {
	background-color: #829ee0;
	text-align: center;
	height: 40px;
	color: #fff;
	font-size: 16px;
	line-height: 38px;
}

div.body {width:80%; float:left; background:#ECE3BA; 
         border-left: 1px solid navy;
         border-top: 1px solid navy;
         border-bottom: 1px solid navy;
         border-right: 1px solid navy;
         padding-right: 5px;
         }

.noborder {border: none; padding: 0px; margin: 0px;}

/* + topnav */

ul.nav {
    margin: 0;
	padding: 0;
}

ul.nav li {
	margin: 0 4px 0 0;
	padding: 0;
	display: block;
	float: left;
	position: relative;
	min-width: 100px;
    width: auto;
    white-space: nowrap;
}

.btn {
	display:inline-block;
	position:relative;
	height:27px;
	padding:0 10px;
	line-height:27px;
	background:url('/media/img/btn-h-c.png') 0 0 repeat-x;
	text-decoration:none;
	color:#fff;
}

.btn:before {
	content:"";
	display:block;
	top:0;
	left:0;
	position:absolute;
	width:7px;
	height:27px;
	background:url('/media/img/btn-h-l.png') 0 0 no-repeat;
}
.btn:after {
	content:"";
	clear:both;
	display:block;
	top:0;
	right:0;
	position:absolute;
	width:6px;
	height:27px;
	background:url('/media/img/btn-h-r.png') 0 0 no-repeat;
}

ul.nav li a {
	padding: 0px 10px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
    display: block;
}

ul.nav li:hover>a, ul.nav li>a:hover {
    color: #ddd;
}

ul.nav li .sub {
	position: absolute;
	top: 30px;
    left: -40px;
	float: left;
	display: none;
    opacity: 0;
}

ul.nav li .sub ul {
	list-style: none;
	float: left;
}
ul.nav .sub ul li {
	color: #fff;
    display: block;
    width: 100%;
    float: none;
}

ul.nav .sub ul li a {
}

ul.nav .sub ul li a:hover {
    color: #ddd;
}

/* - topnav */

.frm-search { float: right; }
.tbx-search { width: 150px; }
.btn-search { width: 80px; line-height: 12px; }

.search {
	display:inline-block;
	height:27px;
	padding:0 10px;
	line-height:27px;
	background:url('/media/img/btn-h-c.png') 0 0 repeat-x;
	text-decoration:none;
	color:#fff;
	position: absolute;
    right: 10px;
}
.search:before {
	content:"";
	display:block;
	top:0;
	left:0;
	position:absolute;
	width:7px;
	height:27px;
	background:url('/media/img/btn-h-l.png') 0 0 no-repeat;
}
.search:after {
	content:"";
	clear:both;
	display:block;
	top:0;
	right:0;
	position:absolute;
	width:6px;
	height:27px;
	background:url('/media/img/btn-h-r.png') 0 0 no-repeat;
}

.online_users {
    display: inline;
}

.nav1_a {
font-family: Georgia;
font-weight: bold;
font-size: 12px;
color:#FF0000;
}

.nav2_a {
font-family: Georgia;
font-weight: bold;
font-size: 13px;
color:#FF0000;
}

.nav1_ac
{
font-family: Georgia;
font-weight: bold;
font-size: 12px;
color:#98cb00;
}

.nav1
{
font-family: Georgia;
font-weight: bold;
font-size: 12px;
color:#4e556f;
}

a.nav1:visited  
{
color:#4e556f;
}
a.nav1:link  
{
color:#4e556f;
}
a.nav1:hover  
{
color:#FF0000;
}

.b_1
{
font-family: Georgia;
font-weight: bold;
font-size: 10px;
color:#4e556f;
padding:2px;
}


.nav2
{
font-family: Georgia;
font-weight: bold;
font-size: 13px;
color:#e67817;
}

a.nav2:visited  
{
color:#e67817;
}
a.nav2:link  
{
color:#e67817;
}
a.nav2:hover  
{
color:#FF0000;
}

.b_2
{
font-family: Georgia;
font-weight: bold;
font-size: 10px;
color:#e67817;
padding:2px;
}


.nav2_ac
{
font-family: Georgia;
font-weight: bold;
font-size: 13px;
color:#98cb00;
}

.text1
{
font-family: Georgia;
font-weight: bold;
font-size: 14px;
color:#4e556f;
}

.text2
{
font-family: Georgia;
font-weight: bold;
font-size: 12px;
color:#4e556f;
}

.bgc1 { background-color: #fff }
.bgc2 { background-color: #414b66 }
.bgc3 { background-color: #ffefa3 }
.bgc4 { background-color: #F0FFF0 }
.bgc5 { background-color: #ece3ba }

.brc1 { border-color: transparent }

.w100p { width: 100% }
.w80p { width: 80% }
.w75p { width: 75% }
.w73p { width: 73% }
.w70p { width: 70% }
.w64p { width: 64% }
.w50p { width: 50% }
.w34p { width: 34% }
.w30p { width: 30% }
.w25p { width: 25% }

.h100p { height: 100% }

.bg1 { background-color: #819ee2; text-transform: uppercase; color: #000; }
.bg2 { background-color: #ffefa3 }

.bg_s
{
  background-color: #ece3ba;
  background-image: url('/media/img/search.jpg');
  border-style:none;
}

.bg_l
{
  background-color: #ece3ba;
  background-image: url('/media/img/login.jpg');
  border-style:none; 
}

.bg_t
{
  background-color: #ece3ba;
  border-color:#FF9900;
}

.bo {

    border: #E7A080 2px solid;

}

.ac { text-align: center }
.ar { text-align: right }
.al { text-align: left }
.aj { text-align: justify }


.h4 { height: 4px }
.h8 { height: 8px }
.h14 { height: 14px }
.h16 { height: 16px }
.h18 { height: 18px }
.h20 { height: 20px }
.h22 { height: 22px }
.h24 { height: 24px }
.h32 { height: 32px }
.h36 { height: 36px }

.c3 { color: #FF8000 }
.c6 { color: #71D000 }
.c4 { color: #174986 }
.c2 { color: #444444 }
.c1 { color: #999999 }
.c7 { color: red }

.fi { font-style: italic }

.cr { cursor: pointer }

.b { font-weight: bold }
.i { font-style: italic }
.u { text-decoration: underline }

.boff {font-weight: normal }

.f11 { font-size: 11pt }
.f10 { font-size: 10pt }
.f9 { font-size: 10pt }
.f8 { font-size: 9pt }
.f7 { font-size: 8pt }
.f6 { font-size: 7pt }
.f5 { font-size: 6pt }
.f4 { font-size: 5pt }

a:link, a:visited
{
  color: #d5271c;
  text-decoration: none;
  font-weight: bold;
}

a:hover
{
  color: #981c14;
  text-decoration: none;
  font-weight: bold;
}
a.selected  
{
color:#71D000;
}

.fs11 { font-size: 11pt }

.p2 { padding: 2px }
.p4 { padding: 4px }
.p8 { padding: 8px }
.pr4 { padding-right: 4px }
.pr8 { padding-right: 8px }
.pl4 { padding-left: 4px }
.pl8 { padding-left: 8px }
.prl4
{
  padding-right: 4px;
  padding-left: 4px;
}

.fcdb { color: darkblue }

.mt4 { margin-top: 4px }
.mb4 { margin-bottom: 4px }
.mb8 { margin-bottom: 8px }
.mb16 { margin-bottom: 16px }
.mb32 { margin-bottom: 32px }
.mt8 { margin-top: 8px }
.mt16 { margin-top: 16px; }
.mt32 { margin-top: 32px }
.ml4 { margin-left: 4px }
.ml8 { margin-left: 8px }
.ml16 { margin-left: 16px }
.ml32 { margin-left: 32px}
.mr4 { margin-right: 4px }
.mr8 { margin-right: 8px }
.mr16 { margin-right: 16px }
.mr32 { margin-right: 32px }

#twitter_update_list li a {
    color: #969696;
    font-size: 85%;
} 
#twitter_update_list li {
    margin-bottom: 10px;
} 

span.onlineusers {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;

}


span.onlineusers:hover {
    text-decoration: underline;
}

a.Online {
    color: green;
}
a.Offline {
    color: red;
}

span.Online {
    color: green;
}
span.Offline {
    color: red;
}

table.lmenu tr td a {
    color: #444444;
}

table.lmenu tr td a:hover {
    color: #FF8000;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fr1 {
    float: right;
    padding-right: 5px
}

tr.hover:hover {
    background-color: #f0cb73;
    cursor: pointer;
}

table.hover:hover {
    background-color: #f57900;
    cursor: pointer;
}

div.hover:hover {
    background-color: #f57900;
    cursor: pointer;
}

div.hover2:hover {
    background-color: #f0cb73;
    cursor: pointer;
}

tr.ht:hover {
    color: #981c14;
    cursor: pointer;
    font-weight: bold;
}

.brd1 { border: 1px solid #414b66 }
.brd2 { border: 1px solid #e67817 }
.brd3 { border: 1px dotted #414b66 }

.mp { cursor: pointer }
.red { color: red }
.blue { color: blue }
.yellow { color: yellow }
.green { color: green }
.grey { color: grey }
.oreange { color: orange }
.white { color: white }
.bgwhite { background-color: white }

/* chat*/

/* Важное свойство */
.chat {
	height: 80px;
	overflow: auto; /* Это позволяет отображать полусу прокрутки */
	position: relative; /* Это позволяет съезжать тексту в слое, не растягия страницу */
	text-align: left;
	border: solid #818181 1px;
    width: 100%;
}

.chat div {
	position: absolute; /* Страница остаётся тогоже размера */
}

.cmes {
    font-weight: bold;
    font-size: 14px;
}

.own {
    color: gray;
    font-style: italic;
}
.own a {
    color: gray;
    font-style: italic;
}


.chat span {
	display: block;
}

input[type=text],textarea {
	font: Georgia;
	border: solid #818181 1px;
}

/* Для CSS 3 */
.r4 {
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* + admin top menu */
/*
.admintopmenu ul, .admintopmenu ul li{
	margin: 0;
	padding: 0;
	display: inline;
}
.admintopmenu ul li {
	float: left;
	position:relative;
	min-width:100px;
    width: auto;
}
.amdintopmenu ul li a{
	display: block;
	padding:3px 10px;
	text-transform: uppercase;
	color: #E67817;
	text-decoration: none;
	border:2px solid #E7A080;
	background-color:#3E4D6A;
    white-space: nowrap;
}
.admintopmenu ul li a:HOVER{
	color: #111;
}

.admintopmenu ul li ul {
    display: none;
    position:absolute;
    top:24px;
}

.admintopmenu ul li ul li {
    display:block;
    width: auto;
    min-width: 180px;
}
*/
/* - admin top menu */
input.admin_search{
    right: 10px;
    margin-top: 3px;
    width:250px;
}






/* new style */

.content_box {margin-top: 5px; min-width: 1024px !important;}

.left_col {float: left; width: 220px; text-align: center; border: 1px solid black; padding-top: 20px;}
.right_col {float: right; width: 240px; text-align: center; border: 1px solid black; padding-top: 10px;}
.main_col {@width: 99%; margin: 0 250px 0 230px; text-align: center;}
td {
	font-size: 9pt;
}


.clear {clear: both;}






